@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}

header{
    background-color: #EC362D;
    color: white;
    font-size: 37px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 13px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.25);
}

/*PÁGINA 1*/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.create-quizz{
    width: 60%;
    border: 1px dotted #D4D4D4;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 181px;
    margin-bottom: 40px;
}

.create-quizz p{
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}
.create-quizz div {
    font-size: 21px;
    font-weight: 400;
    color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border: 1px dotted #EC362D;
    border-radius: 40px;
}

.user-quizz-container{
    display: flex;
    width: 75%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.my-quizzes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 75%;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.my-quizzes ion-icon{
    color: red;
    height: 31px;
    width: 30px;
    margin-left: 10px;
}

.all-quizzes{
    display: flex;
    margin-bottom: 10px;
    width: 75%;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.quizz-container{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.quizz{
    position:relative;
    margin-right: 15px;
    margin-bottom: 10px;
}

.quizz h1{
    width:350px;
    height: 250px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:0px;
    left: 0px;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    align-items: flex-end;
    color: white;
    padding: 15px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255, 255, 255, 0));
}

.quizz img{
    width:350px;
    height: 250px;
    border-radius: 5px;
}

 /*ESCONDER PÁGINA 1*/
/*.main-content{
    display: none;
}*/

/*PÁGINA 2*/
.quizz-content{
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizz-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 40px;
    
}
.quizz-title img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.quizz-title h1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
}

.question {
    background-color: #ffffff;
    width: 60%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-flow: row wrap;
}
.question img{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 0 59px;
    width: 80%;
}
.question-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130px;
    width: 100%;
    background-color: #434CA0;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    margin: 20px 30px;
}

h3{
    padding-top: 8px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    word-wrap: break-word;
}
.answer {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;

}

.answer img{
    width:100%;
}

.answer-container{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 40px;
}

.whitening {
    opacity: 30%;
}

.wrong-answer{
    color: rgba(255, 75, 75, 1);
}
.correct-answer{
    color: rgba(0, 156, 34, 1)
}

/* RESULTADO PÁGINA 2 */

.result {
    background-color: #ffffff;
    width: 60%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-flow: row wrap;
}
.result img{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 40%;
    margin-left: 10px;
}
.result h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130px;
    width: 100%;
    background-color: rgba(236, 54, 45, 1);
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    margin: 20px 30px;
}

.result h2{
    width: 40%;
    padding-top: 8px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    margin: 0 30px;
    text-align: center;
    word-wrap: break-word;
}

/* BOTÕES PÁGINA 2 */
.restart-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(236, 54, 45, 1);
    border-radius: 15px;
    border: none;
    height: 52px;
    width: 260px;
    font-size: 21px;
    font-weight: 400;
    color: rgba(255, 245, 244, 1);
    margin-top: 50px;
    margin-bottom: 15px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 56px;
    border: none;
    color: rgba(129, 129, 129, 1);
    font-size: 21px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 20px;
}

/* ESCONDER PÁGINA 2 */
/*.quizz-content{
    display: none;
}*/

/* PÁGINA 3*/
.quizz-create{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quizz-create h2{
    font-size: 24px;
    font-weight: bold;
    margin:20px;
}

.quizz-options{
    margin:10px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quizz-options input{
    font-size: 19px;
    width:600px;
    margin:10px;
    padding:10px;
}
.quizz-create button{
    font-size: 21px;
    color: white;
    background-color: #EC362D;
    border-radius: 10px;
    margin:50px;
    padding: 10px;
}


/*página LEVELS da criação*/
.quizz-levels{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quizz-levels h2{
    font-size: 24px;
    font-weight: bold;
    margin:20px;
}

.quizz-levels button{
    font-size: 21px;
    color: white;
    background-color: #EC362D;
    border-radius: 10px;
    margin:50px;
    padding: 10px;
}

.level-options{
    margin:10px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.level-options input{
    font-size: 19px;
    width:600px;
    margin:10px;
    padding:10px;
}
.level-options textarea{
    font-size: 19px;
    width:600px;
    margin:10px;
    padding:10px;
}


/* CLASSE GLOBAL PARA ESCONDER ELEMENTOS */
.hidden{
    display:none;
}