@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

header{
    background-color: #EC362D;
    color: white;
    font-size: 37px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 13px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/*PÁGINA 1*/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.create-quizz{
    width: 60%;
    border: 1px dotted #D4D4D4;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 181px;
    margin-bottom: 40px;
}

.create-quizz p{
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}
.create-quizz div {
    font-size: 21px;
    font-weight: 400;
    color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border: 1px dotted #EC362D;
    border-radius: 40px;
}

.user-quizz-container{
    display: flex;
    width: 75%;
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.my-quizzes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 75%;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.my-quizzes ion-icon{
    color: red;
    height: 31px;
    width: 30px;
    margin-left: 10px;
}

.all-quizzes{
    display: flex;
    margin-bottom: 10px;
    width: 75%;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.quizz-container{
    display: flex;
    width: 75%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.quizz{
    position:relative;
    margin-right: 15px;
}

.quizz h1{
    width:350px;
    height: 250px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:0px;
    left: 0px;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    align-items: flex-end;
    color: white;
    padding: 15px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255, 255, 255, 0));
}

.quizz img{
    width:350px;
    height: 250px;
    border-radius: 5px;
}

 /*ESCONDER PÁGINA 1*/
/*.main-content{
    display: none;
}*/

/*PÁGINA 2*/
.quizz-content{
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizz-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 40px;
}
.quizz-title img{
    width: 100%;
}
.quizz-title h1{
    position: absolute;
}

.question {
    background-color: #ffffff;
    width: 60%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-flow: row wrap;
}
.question img{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 0 59px;
    width: 80%;
}
.question-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130px;
    width: 90%;
    background-color: #434CA0;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3{
    padding-top: 8px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}
.answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}

.answer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ESCONDER PÁGINA 2 */
/*.quizz-content{
    display: none;
}*/